In [1]:
import numpy as np

A = np.array([[8, 3, -2], [-4, 7, 5], [3, 4, -12]])
b = np.array([9, 15, 35])
x = np.linalg.solve(A, b)
x

array([-0.58226371,  3.22870478, -1.98599767])

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [16]:
westValley = pd.read_csv('PNWDistrictWestValleyEvent2020.csv')
westValley.head()

       Match  Red1  Red2  Red3  Blue1  Blue2  Blue3  RedScore  BlueScore
0  'Quals 1'  4911  5920  3712   4125   3711   2147       150        125
1  'Quals 2'  2605  1595  4980   2944   2910   6076        35        139
2  'Quals 3'  3693  6442  3663   4513   4692   4104        53         69
3  'Quals 4'  4089  4060  6443   3876   2811   4061       106         68
4  'Quals 5'  4980  4104  6076   5920   2605   3711        25        129

In [47]:
westValley['Red1'].head()

0    4911
1    2605
2    3693
3    4089
4    4980
Name: Red1, dtype: int64

In [49]:
fullTeamList = np.concatenate((westValley['Red1'], westValley['Red2'], westValley['Red3'], westValley['Blue1'], westValley['Blue2'], westValley['Blue3']))
fullTeamList = np.sort(fullTeamList)
fullTeamList

array([1595, 1595, 1595, 1595, 1595, 1595, 1595, 1595, 1595, 1595, 1595,
       1595, 2147, 2147, 2147, 2147, 2147, 2147, 2147, 2147, 2147, 2147,
       2147, 2147, 2605, 2605, 2605, 2605, 2605, 2605, 2605, 2605, 2605,
       2605, 2605, 2605, 2811, 2811, 2811, 2811, 2811, 2811, 2811, 2811,
       2811, 2811, 2811, 2811, 2910, 2910, 2910, 2910, 2910, 2910, 2910,
       2910, 2910, 2910, 2910, 2910, 2944, 2944, 2944, 2944, 2944, 2944,
       2944, 2944, 2944, 2944, 2944, 2944, 3663, 3663, 3663, 3663, 3663,
       3663, 3663, 3663, 3663, 3663, 3663, 3663, 3693, 3693, 3693, 3693,
       3693, 3693, 3693, 3693, 3693, 3693, 3693, 3693, 3711, 3711, 3711,
       3711, 3711, 3711, 3711, 3711, 3711, 3711, 3711, 3711, 3712, 3712,
       3712, 3712, 3712, 3712, 3712, 3712, 3712, 3712, 3712, 3712, 3876,
       3876, 3876, 3876, 3876, 3876, 3876, 3876, 3876, 3876, 3876, 3876,
       4060, 4060, 4060, 4060, 4060, 4060, 4060, 4060, 4060, 4060, 4060,
       4060, 4061, 4061, 4061, 4061, 4061, 4061, 4061, 4061, 4061, 4061,
       4061, 4061, 4089, 4089, 4089, 4089, 4089, 4089, 4089, 4089, 4089,
       4089, 4089, 4089, 4104, 4104, 4104, 4104, 4104, 4104, 4104, 4104,
       4104, 4104, 4104, 4104, 4125, 4125, 4125, 4125, 4125, 4125, 4125,
       4125, 4125, 4125, 4125, 4125, 4513, 4513, 4513, 4513, 4513, 4513,
       4513, 4513, 4513, 4513, 4513, 4513, 4692, 4692, 4692, 4692, 4692,
       4692, 4692, 4692, 4692, 4692, 4692, 4692, 4911, 4911, 4911, 4911,
       4911, 4911, 4911, 4911, 4911, 4911, 4911, 4911, 4980, 4980, 4980,
       4980, 4980, 4980, 4980, 4980, 4980, 4980, 4980, 4980, 5920, 5920,
       5920, 5920, 5920, 5920, 5920, 5920, 5920, 5920, 5920, 5920, 6076,
       6076, 6076, 6076, 6076, 6076, 6076, 6076, 6076, 6076, 6076, 6076,
       6442, 6442, 6442, 6442, 6442, 6442, 6442, 6442, 6442, 6442, 6442,
       6442, 6443, 6443, 6443, 6443, 6443, 6443, 6443, 6443, 6443, 6443,
       6443, 6443], dtype=int64)

In [35]:
teamList = np.unique(fullTeamList)
teamList

array([1595, 2147, 2605, 2811, 2910, 2944, 3663, 3693, 3711, 3712, 3876,
       4060, 4061, 4089, 4104, 4125, 4513, 4692, 4911, 4980, 5920, 6076,
       6442, 6443], dtype=int64)

In [40]:
teamList.shape[0]

24

In [29]:
numberOfMatchs = westValley['Match'].count()
numberOfMatchs

48

In [46]:
x = np.where(teamList == 4089)
x[0][0]

13

In [83]:
Teams = np.zeros((numberOfMatchs*2,teamList.shape[0]))
TeamsPrime = np.zeros((teamList.shape[0],numberOfMatchs*2))
Teams.shape

(96, 24)

In [85]:
Scores = np.concatenate((westValley['RedScore'],westValley['BlueScore']))
Scores.shape

(96,)

In [58]:
westValley['Red1'][0]

4911

In [87]:
for row in range(numberOfMatchs):
    x = np.where(teamList == westValley['Red1'][row])
    Teams[row][x[0][0]] = 1
    TeamsPrime[x[0][0]][row] = 1
    x = np.where(teamList == westValley['Red2'][row])
    Teams[row][x[0][0]] = 1
    TeamsPrime[x[0][0]][row] = 1
    x = np.where(teamList == westValley['Red3'][row])
    Teams[row][x[0][0]] = 1
    TeamsPrime[x[0][0]][row] = 1
    x = np.where(teamList == westValley['Blue1'][row])
    Teams[numberOfMatchs+row][x[0][0]] = 1
    TeamsPrime[x[0][0]][numberOfMatchs+row] = 1
    x = np.where(teamList == westValley['Blue2'][row])
    Teams[numberOfMatchs+row][x[0][0]] = 1
    TeamsPrime[x[0][0]][numberOfMatchs+row] = 1
    x = np.where(teamList == westValley['Blue3'][row])
    Teams[numberOfMatchs+row][x[0][0]] = 1
    TeamsPrime[x[0][0]][numberOfMatchs+row] = 1
Teams.shape

(96, 24)

In [88]:
TeamsTotal = np.matmul(TeamsPrime,Teams)
ScoresTotal = np.matmul(TeamsPrime,Scores)
print(TeamsTotal.shape)
print(ScoresTotal.shape)

(24, 24)
(24,)

In [90]:
OPRs = np.linalg.solve(RedTeamsTotal, RedScoresTotal)
OPRs

array([ 2.65212034e+01,  4.24441842e+01,  2.95336121e+01,  6.45513722e+01,
        9.99224131e+01, -8.36981238e+00,  6.24629168e+01,  2.06713532e+01,
        6.04957322e+01,  7.73372702e+00, -6.94355861e+00,  1.27762142e+01,
        1.68659719e+01,  6.34268300e+01,  2.67877793e+01,  3.78174627e+01,
        6.64036356e+01,  2.38332094e+01,  1.08909224e+02, -2.10645278e-03,
        5.70220154e+01, -2.48121066e+00,  1.22962114e+01,  2.51727923e+01])

In [95]:
for row in range(OPRs.shape[0]):
    teamNumber = teamList[row] 
    print(+" "+OPRs[row])

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U21'), dtype('<U21')) -> dtype('<U21')